{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "linebreak-style": "unix"
  },
  "plugins": [
    "svelte3",
    "prettier"
  ],
  "extends": ["prettier", "airbnb-base/legacy"],
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ]
}